
{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %} 
{% block content %} 

  

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom:20px;margin-top:6px">
  <div class="col">
    
    <div class="card"style="width:300px;height:200px;margin-left:20px;">
      
      <div class="card-body"style="margin-bottom:300px;margin-right:27px;">
        <h5 class="card-title" style="color:navy"><strong><i class="fa-solid fa-user" style="color:navy;" ></i>  Personal info</strong></h5>
        <p class="card-text"style="color:navy">
         Provides personal details and how we cann reach you 
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width:300px;height:200px;margin-left:20px;">
      
      <div class="card-body"style="margin-bottom:300px;margin-right:27px;">
        <h5 class="card-title"style="color:navy" ><strong><i class="fa-solid fa-shield-halved"style="color:navy;" ></i>  Login & Security</strong></h5>
        <p class="card-text">
          Update your password and secure your account
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width:300px;height:200px;margin-left:20px;">
      
      <div class="card-body"style="margin-bottom:300px;margin-right:27px;">
        <h5 class="card-title"style="color:navy" ><strong><i class="fa-regular fa-credit-card"style="color:navy;" ></i> Payment & payout</strong></h5>
        <p class="card-text"style="color:navy">
          Review payments,payouts
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width:300px;height:200px;margin-left:20px;">
      
      <div class="card-body"style="margin-bottom:300px;margin-right:27px;">
        <h5 class="card-title"style="color:navy" ><strong><i class="fa-solid fa-toolbox"style="color:navy;" ></i> Professional hosting tools</strong></h5>
        <p class="card-text"style="color:navy">
          Get professional tools if you manage several properties on sam
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" style='margin-bottom:50px;'>
  <div class="col">
    <div class="card"style="width:300px;height:200px;margin-left:20px;">
      
      <div class="card-body"style="margin-bottom:300px;margin-right:27px;">
        <h5 class="card-title" style="color:navy"><strong><i class="fa fa-bullhorn"style="color:navy;" ></i> Notification</strong></h5>
        <p class="card-text"style="color:navy">
          choose notification preferences and how you want to be contacted
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width:300px;height:200px;margin-left:20px;">
      
      <div class="card-body"style="margin-bottom:300px;margin-right:27px;">
        <h5 class="card-title" style="color:navy"><strong><i class="far fa-eye"style="color:navy" ></i> Privacy & sharing</strong></h5>
        <p class="card-text"style="color:navy">
          Control connected apps, what you share, and you sees it
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width:300px;height:200px;margin-left:20px;">
      
      <div class="card-body"style="margin-bottom:300px;margin-right:27px;">
        <h5 class="card-title" style="color:navy"><strong><i class="fa  fa-globe"style="color:navy" ></i> Global preferences</strong></h5>
        <p class="card-text"style="color:navy">
         set your default language,currency,and timezone
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width:300px;height:200px;margin-left:20px;">
      
      <div class="card-body"style="margin-bottom:300px;margin-right:27px;">
        <h5 class="card-title" style="color:navy"><strong><i class="fa fa-gift"style="color:navy" ></i>  Referral credit points & coupons</strong></h5>
        <p class="card-text"style="color:navy">
            your refferal card amount is reflected here
        </p>
      </div>
    </div>
  </div>
</div>


  {%endblock%}